.auth-container{
height:100vh;display:flex;justify-content:center;align-items:center;
background:linear-gradient(135deg,#667eea,#764ba2);
}
.auth-card{
background:white;padding:30px;border-radius:15px;width:300px;
display:flex;flex-direction:column;gap:12px;
}
.auth-card input{padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
    cursor: pointer;
}
.auth-card button{background:#667eea;
    color:white;
    border:none;
    padding:10px;
    border-radius:6px;
    cursor: pointer;
}
.optional{
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
 
